<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detector</title>
    <script src="{{ url_for('static', filename='mywebscript.js') }}"></script>
</head>
<body>
    <h1>Emotion Detector</h1>
    <form>
        <label for="textToAnalyze">Text to analyze:</label><br>
        <textarea id="textToAnalyze" rows="4" cols="50"></textarea><br><br>
        <button type="button" onclick="RunSentimentAnalysis()">Run Sentiment Analysis</button>
    </form>
    <br>
    <div id="system_response"></div>
</body>
</html>